.comment.normal{:class => cycle('odd', 'even')}
  %table
    %tr
      %td
        .author{:style => "width:80px;"}
          = image_tag comment.user.profile_image('medium') do
            comment.user.nickname
      %td{:style => 'vertical-align:top;'}
        %p.info
          Posted
          %strong= comment.created_at.to_s(:long)
          by
          %strong= comment.user.nickname
        = comment.body
  .clearer

