.comment.normal
  %div{:style => "width:620px; float:left; padding:0 0 0 20px;"}
    %p.info
      Posted
      %strong= comment.created_at.to_s(:long)
      by
      %strong= comment.user.nickname
    = comment.body
    %hr/
  .author{:style => "width:80px; float:right;"}
    = image_tag current_user.profile_image comment.user.nickname
  .clearer

