/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
 
/* LAYOUT */
.clear { clear:both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }

a { font-size:10px; }
a, a:link { color:#0033cc; }
a, a:link { color:#0085cf; }
a:active,a:hover { color:green }


/* pagination */
.pagination { padding: 2px; margin:30px 3px; text-align:center; }
.pagination a { padding: 2px 5px 2px 5px; margin: 0px; border: 1px solid #EEE; text-decoration: none; color: #036CB4; }
.pagination a:hover,
.pagination a:active { border: 1px solid #999; color: #666; }
.pagination .current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #036CB4; font-weight: bold; background-color: #036CB4; color: #FFF; }
.pagination .disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }


#globalfooter { color: #999; font-size: 10px; margin: 18px auto; padding-bottom: 36px; text-align: left !important; }
#globalfooter a { text-decoration: none; color: #2971a7; }
#globalfooter a:hover { text-decoration: underline; }
#globalfooter p { margin-bottom: 1em; }
#globalfooter .gf-buy { float: left; width: 60%; margin: 18px 0 9px; }
#globalfooter .gf-links { float: right; text-align: right; margin: 18px 0 9px; }
#globalfooter .gf-links a { padding: 0 10px; white-space: nowrap; }
#globalfooter .gf-links a.last { padding-right: 0; _float: none !important; width: auto !important;  }
#globalfooter .gf-sosumi { clear: both; width: 100%; border-top: 1px solid #eee; padding-top: 9px; }
#globalfooter .gf-sosumi a { padding: 0 10px; }
#globalfooter { width: 980px; }
#globalfooter form { margin: 18px 10px; }
#globalfooter .search-wrapper { margin: 0 auto; }
#globalfooter .search-wrapper input.prettysearch { margin-left: 10px; }


a { color: #2971a7; }
strong, b { font-weight:bold; }
em, i { font-style:italic; }
sup { padding-left:1px; font-size:10px !important; font-weight:normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color:#76797c; _position:static !important; }
.sosumi { font-size: 10px !important; color:#76797c; }
.center { text-align:center; }
p.intro { font-weight: bold; }
h2.section { padding-bottom:5px; border-bottom:1px solid #EEEEEE; color:#666; font-weight:normal; margin-bottom:20px; }


a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
a.more { white-space: nowrap; padding-right: 10px; background: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; zoom: 1; }
a[rel="external"], a.external { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 50%; zoom: 1; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
sup { padding-left: 1px; font-size: 9px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color: #AAA; _position: static !important; }
.sosumi { font-size: 10px !important; color:#76797c; }


a.pdf { background: url(http://images.apple.com/global/elements/icons/globaliconpdf12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.html { background: url(http://images.apple.com/global/elements/icons/globaliconhtml12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.qt { background: url(http://images.apple.com/global/elements/icons/globaliconqt12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.ical { background: url(http://images.apple.com/global/elements/icons/globaliconical12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dl { background: url(http://images.apple.com/global/elements/icons/globalicondl11x10.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dmg { background: url(http://images.apple.com/global/elements/icons/globalicondmg12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.zip { background: url(http://images.apple.com/global/elements/icons/globaliconzip12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.keynote { background: url(http://images.apple.com/global/elements/icons/globaliconkeynote12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.audio { background: url(http://images.apple.com/global/elements/icons/globaliconaudio12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }

/* colors */
.gray { color:gray; }
.green { color:green; }
.red { color:red; }
.prettyred { color:#d61919 !important; }
.blue { color:blue; } 
.prettyblue { color:#3b7fe6; }
.orange { color:orange; }
.offred { color:#e13030; }

/* field tags */
p.tag { margin-bottom:10px !important; }

p { margin-bottom: 18px; }
h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; border-bottom: 1px #DEDEDE solid; font-weight:normal; /*color:#5b5b5b;*/ color:#2260be; }
h1 span.section { font-size:12px; float:right; padding-top:5px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-weight: bold; font-size: 1em; line-height: 18px;  margin-bottom:20px; }
h3.section { border-bottom:1px solid #CCCCCC; padding-bottom:5px; margin-bottom:10px; color:#2260be; }
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }
.more { text-align: right; }

a.comment { background:url(/images/icons/icon_comment.gif) left no-repeat; padding-left: 20px; }
a.comment.right { background:url(/images/icons/icon_comment.gif) right no-repeat; padding-right: 20px; }
a.delete { background:url(/images/icons/delete15x15.png) 50% no-repeat;  text-indent:-9999px; display:block; }
a.arrow { background:url(/images/arrow_next.gif) right no-repeat; padding-right: 20px; }
a.add { background:url(/images/icons/plus.png) right no-repeat; padding-right: 20px; }
a.thumbsup { background:url(/images/icons/thumbsup.gif) left no-repeat; padding: 2px 0 2px 10px; }
a.rss { background:url(/images/icons/rss22x12.png) left no-repeat !important; padding-left: 30px; }
a.flag { background:url(/images/icons/flag.png) left no-repeat !important; padding-left: 25px; }
a.add { background:url(/images/icons/plus.png) right no-repeat; padding-right: 20px; }
a.addleft { background:url(/images/icons/plus.png) left no-repeat; padding:3px 0 3px 20px; }
a.remove { background:url(/images/icons/minus.png) right no-repeat; padding-right: 20px; }
a.removeleft { background:url(/images/icons/minus.png) left no-repeat; padding-left: 20px; }
a.back { background:url(/images/icons/back.png) right no-repeat; padding-right: 20px; }
a.backleft { background:url(/images/icons/back.png) left no-repeat; padding:3px 0px 3px 20px;}
a.edit { background:url(/images/icons/edit.png) right no-repeat; padding-right: 20px; }
a.editleft { background:url(/images/icons/edit.gif) left no-repeat; padding:3px 0px 3px 20px; }

/* PRINT */
@media print {
	body, #main, #content { color:#000 !important; }
	a, a:link, a:visited { color:#000 !important; text-decoration:none !important; }
	#tabs, #globalheader, #globalfooter, #directorynav, .noprint, .hide { display: none !important; }
	#main a.pdf, #main a.html, #main a.qt, #main a.ical, #main a.dl, #main a.dmg, #main a.zip, #main a.keynote, #main a.audio { padding-left: 0 !important; background-image: none !important; }
}