fieldset { border:0px; }

#header, #container { background:#EAEAEA; margin:0px; color:#333;  }
#container { padding-top:100px; min-height:250px; }
#content code {margin:0pt; padding:1px 3px; background:rgb(255, 255, 225) none repeat scroll 0% 0%; font-family:Monaco,monospace; font-style:normal; font-variant:normal; font-weight:normal; font-size:11px; line-height:normal; font-size-adjust:none; font-stretch:normal; -x-system-font:none;}
#content em { font-style:italic; }
#content hr { border:medium none ; margin:0pt 0pt 1.4em; background:rgb(178, 204, 255) none repeat scroll 0% 0%; color:rgb(178, 204, 255); clear:both; float:none; width:100%; height:0.1em; }
#content pre { padding:0pt 10px; background:rgb(249, 249, 212) none repeat scroll 0% 0%; overflow:auto; margin-bottom:15px; }
acronym, abbr, span.caps {font-size:0.9em;letter-spacing:.07em; cursor:help;}
acronym, abbr { border-bottom:1px dashed #999; }
blockquote cite { margin:5px 0 0; display:block; }
.center { text-align:center; }
.hidden { display:none; }

/* Begin Lists */
html > body .content ul {margin-left:0px; padding:0 0 0 30px; list-style:none; padding-left:10px; text-indent:-10px;}
html > body .content li {margin:7px 0 8px 10px;}
.content ol {padding:0 0 0 35px; margin:0;}
.content ol li {margin:0; padding:0; list-style:decimal outside;}
.content dl { margin:1.5em 0pt; }
.content dd{margin:0; padding:0 15px 15px; }
.content table { margin:0pt auto;}
.content th, .content td { height:1em; line-height:18px; padding:10px; }
/* End Entry Lists */

/* header */
#header { width:100%; }
#header .header_holder .logo { width:300px; float:left; }
.post.mainpost {padding-bottom:20px;}

/* nav */
#header #nav a.add { background:url(/images/icons/plus_stroke.png) right no-repeat; padding-right:30px; }
#header #nav a.addleft { background:url(/images/icons/plus_stroke.png) left 8px no-repeat; padding:0px 0 0px 30px; }
#header #nav a.removeleft { background:url(/images/icons/minus.png) left no-repeat; padding-left:30px; }
#header #nav a.editleft { background:url(/images/icons/edit.png) left no-repeat; padding:0px 0px 0px 30px; }

/* Linkx */
a.add { background:url(/images/icons/plus.png) right no-repeat; padding-right: 20px; }
a.addleft { background:url(/images/icons/plus.png) left no-repeat; padding-left: 20px; }
a.remove { background:url(/images/icons/minus.png) right no-repeat; padding-right: 20px; }
a.removeleft { background:url(/images/icons/minus.png) left no-repeat; padding-left: 20px; }
a.back { background:url(/images/icons/back.png) right no-repeat; padding-right: 20px; }
a.backleft { background:url(/images/icons/back.png) left no-repeat; padding-left: 20px; }
a.edit { background:url(/images/icons/edit.png) right no-repeat; padding-right: 20px; }
a.editleft { background:url(/images/icons/edit.png) left no-repeat; padding-left: 20px; }

/* Top Navigation */
#nav { float:right; text-align:right; }
#nav ul { margin:0 auto; padding:0; list-style:none; line-height:1; z-index:100; }
#nav ul a { display:block; line-height:23px; padding:0 15px 0px 15px; z-index:100; text-decoration:none; }
#nav ul li { float:left; padding:8px 5px 10px 5px; float:left; }
#nav ul li a { color:#333; }
#nav ul li a:hover
{
	color:#FFF; background:#004476 !important;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}
#nav.bookmarks li#gnav-bookmarks a
{
	color:#333;
	background:#EAEAEA;
	border-radius:15px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-webkit-box-shadow: 0px -1px 10px #BBB;
}
#nav.bookmarks li#gnav-bookmarks a:hover { background:#EAEAEA !important; }

#toolbar
{
	background: #2b4b6e; /* old browsers */
}
#toolbar #breadcrumbs { width:475px; float:left; margin:0px; }


#breadcrumbs { font-size:11px; color:#444; overflow:hidden; height:31px; line-height:31px; font-weight:bold; float:left; }
#breadcrumbs a { color:lightblue; text-decoration:none; _cursor:hand; text-decoration:none;  }
#breadcrumbs a:hover { color:green; text-decoration: none !important; }
#breadcrumbs a.home { position:relative; margin: 0; width: 15px; height: 0; padding-top: 35px; overflow: hidden; background:url(/images/icon_home.png) 0 25px no-repeat; }
#breadcrumbs li { display:inline !important; list-style:none; color:#666; padding:10px 20px 8px 10px; background:url(/images/breadcrumb_sep.png) bottom right no-repeat; height:31px; }
#breadcrumbs li { color:#EAEAEA; }
#breadcrumbs li#home { background:url(/images/breadcrumb_home.png) 10px 2px no-repeat; text-indent:-999px; margin-right:-20px; }
#breadcrumbs li#home a { padding:0px 20px 8px 10px; }
#breadcrumbs li a:hover { color:#ddeffa; }

#toolbar #actions { width:475px; float:right; margin:0px; line-height:31px; text-align:right; margin-right:40px }
#toolbar #actions li { list-style:none; display:inline; padding:15px 20px 8px 10px; }
#toolbar #actions li a { color:#EEEEEE; }

/* End Navigation */



.subtext { text-align:center; font-size:12px; color:#b8babd; width:500px; margin:20px auto 0 auto; }



/*input[type=text], input[type=password], textarea
{
	outline:none;
   transition: all 0.25s ease-in-out;
   -webkit-transition: all 0.25s ease-in-out;
   -moz-transition: all 0.25s ease-in-out;
   border-radius:3px;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border:1px solid rgba(0,0,0, 0.2);
}

input[type=text]:focus, input[type=password]:focus, textarea:focus
{
   box-shadow: 0 0 20px rgba(81,203,238, 1);
   -webkit-box-shadow: 0 0 20px rgba(81,203,238, 1); 
   -moz-box-shadow: 0 0 5px rgba(81,203,238, 1);
   border:1px solid rgba(81,203,238, 0.8); 
}*/

input[type=text], input[type=password], textarea {
    border:1px solid #999999;
    outline:none;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:5px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	transition: all 0.25s ease-in-out;
   -webkit-transition: all 0.25s ease-in-out;
   -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 20px rgba(81,203,238, 1);
   -webkit-box-shadow: 0 0 20px rgba(81,203,238, 1); 
   -moz-box-shadow: 0 0 5px rgba(81,203,238, 1);
   border:1px solid rgba(81,203,238, 0.8);
}

.textInput { width:550px; margin:auto; }
.textInput input
{
	background:#FFFFFF;
	border:0px;
	color:#666;
	font-size:24px;
	-moz-border-radius: 8px;
	-webkit-border-radius:8px;
	border-radius:8px;

	padding:20px;
	height:30px;
	width:500px;
	margin:auto;
	box-shadow:2px 4px 8em #333333;
	border:1px #EAEAEA solid;
}

#login-form-home { width:600px; margin:50px auto; }
#login-form-home input[type=text]
{
	height:20px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border:1px #CCC solid;
	font-size:14px;
	padding:8px 10px 8px 10px;
	width:200px;
}
#login-form-home input[type=password]
{
	height:20px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border:1px #CCC solid;
	font-size:14px;
	padding:8px 10px 8px 10px;
	width:200px;
}

#login-form-home .signin { background:url(/images/buttons/signin.png) no-repeat; margin-top:-2px; height:40px; width:126px; border:0px; text-indent:-9999px; }
#login-form-home .signin:hover { background:url(/images/buttons/signin_over.png) no-repeat; }
#login-form-home #login-field { width:235px; float:left; }
#login-form-home #password-field { width:235px; float:left; }
#login-form-home h3 { border-bottom:1px #ccc solid; padding-bottom:5px; }

.comment { border-bottom:1px #EEEEEE solid; padding:5px; }
.comment p { margin:0px 0 10px 0; }
.comment.even { background:#F7F7F7; }

/* topics */
#topics { clear:both; }
#topics span
{
	padding:2px 10px 2px 10px;
	background:lightblue;
	border-radius:4px;
	margin:0 5px 5px 0px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	float:left;
	-webkit-box-shadow:2px 2px 2px #EAEAEA;
	
	color:#FFFFFF;
	background: #7abcff; /* old browsers */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* ie */
}

/* rails versions */
#rails-versions { clear:both; }
#rails-versions span
{
	padding:2px 10px 2px 10px;
	background:lightblue;
	border-radius:4px;
	margin:0 5px 5px 0px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	float:left;
	-webkit-box-shadow:2px 2px 2px #EAEAEA;
	
	color:#FFFFFF;
	background: #ff3019; /* old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* ie */
}


/* ruby versions */
#ruby-versions { clear:both; }
#ruby-versions span
{
	padding:2px 10px 2px 10px;
	background:lightblue;
	border-radius:4px;
	margin:0 5px 5px 0px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	float:left;
	-webkit-box-shadow:2px 2px 2px #EAEAEA;
	
	color:#FFFFFF;
	
	background: #a90329; /* old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* ie */
}




/* CSS Core Document */

body { margin:0; padding:0; }
.widget *, .box * {margin:0px; padding:0px;}

body, html
{
   height:100%;
   font-size:14px;
   font-family: "proxima-nova-1", "proxima-nova-2", Arial, "Liberation Sans", FreeSans, sans-serif;
	/*text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;*/
   background-color:#02243D;
   color:#000000;
/*   background-image:url(/images/bg.gif);*/
   line-height:20px;
   background-repeat:repeat-x;
	margin-top:0px;
}

a { 
    color:#0088CC; 
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

h1 {
    font-size:24px;
    padding:0px 0px 15px 0px;
    font-weight:normal;
    color:#000;
}
h1 a {
    font-size:24px;
    padding:0px 0px 15px 0px;
    font-weight:normal;
    color:#3586b4;
    text-decoration:none;
}
h2 {
    font-size:18px;
    padding:0px 0px 0px 0px;
    font-weight:normal;
    color:#191b1c;
}
h3 {
    font-size:18px;
    color:#191b1c;
    font-weight:normal;
}
h4 {
    font-weight:normal;
    color:#a5bb39; 
}

/* reusable */
.divider { 
    clear:both; 
    font-size:1px; 
    line-height:0px; 
    height:0px; 
}


/* content */
.content
{
	padding-top:10px;
	padding-bottom:25px;
	float:left;
	width:440px;
}
.content.thumb-off {float:left; width:590px !important;}
#content
{
   width:100%;
   background-color:#fff;
   padding:0px 0px 0px 0px;
	background:#07203F; /* old browsers */
	background:-moz-linear-gradient(top, #CCCCCC 0%, #FFFFFF 2%); /* firefox */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(2%,#FFFFFF)); /* webkit */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
}
#content .content_holder
{
   width:950px;
   margin:0px auto;
	padding:20px;
}

#content .content_holder .left
{
   width:590px;
   float:left;
   padding:30px 40px 0px 0px;
}

#content .content_holder .right
{
   width:248px;
   float:left;
   padding:30px 32px 0px 40px;
   background-image:url(images/bg-right.gif);
   background-repeat:no-repeat;
   font-size:12px;
}
#content .content_holder .right .box
{
   width:248px;
   margin:0px 0px 40px 0px;
}
#content .content_holder .right .box li {
   list-style-type:none;
   font-size:13px;
}
#content .content_holder .right .box input {
   border:1px solid #d2d8dc;
   padding:7px;
   width:110px;
   float:left;
}
#content .content_holder .right .box input.btnsubmit
{
   border:none;
   padding:0px;
   width:82px;
   float:right;
}


#footer_top
{
   width:100%;    
   padding:20px 0px 20px 0px;
   background-image:url(images/footer-gradient.png);
   background-repeat:repeat-x;
   font-size:11px;
}
#footer_top .holder { width:950px; margin:0px auto; }
#footer_top .holder .left {
    width:590px;
    float:left;
}
#footer_top ul { margin:0px; padding:0px;
}
#footer_top li {
    margin:0px;
    padding:10px 0px 10px 0px;
    list-style-type:none;
    border-bottom:1px #1c4162 solid;
}
#footer_top .holder .left .title {
    width:450px;
    float:left;
}
#footer_top .holder .left .date {
    width:100px;
    float:right;
    text-align:right;
    color:#fff;
}
#footer_top .holder .right {
    width:248px;
    float:right;
    padding:0px 32px 0px 0px;
    color:#fff;
}

#footer_bottom { width:100%; padding:20px 0px 10px 0px; }
#footer_bottom .holder { width:950px; margin:0px auto; }
#footer_bottom .holder .copy {
    width:500px;
    float:left;
    font-size:11px;
}
#footer_bottom .holder .links { float:right; }
#footer_bottom .holder .links ul { margin:0px; padding:0px; }
#footer_bottom .holder .links li {
    margin:0px 0px 0px 5px;
    padding:0px;
    list-style-type:none;
    display:inline;
}
#footer_bottom .holder .links li a { text-decoration:none; font-size:11px; }
#footer_bottom .holder .links li a:hover { color:#fff; }



hr{
    padding:0px;
    margin:0px 0px 0px 0px;
    border:1px solid #4c2734;
}



body { font-size:12px; }

.nav ul li.current-cat a,
.nav ul li.current_page_item a,
.nav ul li.current_page_parent ul li.current_page_item a,
.nav ul li.current-cat-parent ul li.current-cat a,
.nav ul li a:hover,
.nav ul li a:hover
{
	background-color:#2A2E31;
}
.nav ul li.current-cat a,
.nav ul li.current_page_item a,
.nav ul li.current_page_parent ul li.current_page_item a,
.nav ul li.current-cat-parent ul li.current-cat a
{
	color:#3586B4;
}
.nav ul li a { color:#777; }
.nav ul li a:hover {	color:#FFFFFF; }

h1 a,
h1,
h2,
h3,
{
	color:#203C57;
}

#content { color:#000000; }
#content .right h2 { color:#191B1C; }
#content .right a { color:#1768AE; }
#content .right a:hover { color:#3A3D43; }
#content .right {	color:#6A6A6A; }

#footer_top h3 { color:#FFFFFF; }
#footer_top { color:#FFFFFF; }
#footer_top a { color:#6FADDF; }
#footer_top a:hover { color:#FFFFFF; }
#footer_top
{
	background:#10293F; /* old browsers */
	background:-moz-linear-gradient(top, #10293F 0%, #0B3757 6%); /* firefox */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#10293F), color-stop(6%,#0B3757)); /* webkit */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#10293F', endColorstr='#0B3757',GradientType=0 ); /* ie */
}
#footer_bottom .holder .copy,
#footer_bottom .holder .links li a,
#footer_bottom .holder .copy a,
#footer_bottom,
#footer_bottom a
{
	color:#74828C;
}
#footer_bottom { background-color:#02243D; }


.header_holder {
  margin: 0 auto;
  padding-top: 30px;
  width: 980px;
}

#g-nav-util .quote {
  color: #7E8082;
  font-size: 11px;
  margin-left: -5px;
}

#topnav {
  font-size: 11px;
  line-height: 15px;
  text-align: right;
}

#small_signup {
  display: inline;
  float: none;
  line-height: 23px;
  margin: 25px 0 0;
  width: 170px;
}

#topnav a.signin {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: none repeat scroll 0 0 #88BBD4;
  color: #FFFFFF;
  font-weight: bold;
  padding: 4px 6px 6px;
  text-decoration: none;
}