html, body { height:100%; }
body
{
   font-family: "proxima-nova-1", "proxima-nova-2", Arial, "Liberation Sans", FreeSans, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
   color: #283644;
   font-size:13px;
	margin:0px;
	
	background: #f2f5f6; /* old browsers */
	background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* ie */
}

.clearer { clear:both; display:block; margin:0px; padding:0px; height:0px; line-height:1px; font-size:1px; }

#g-nav-util .quote { font-size:11px; color:#7E8082; margin-left:-5px; -webkit-font-smoothing:subpixel-antialiased; }

#gheader, #gheader-shadow { width:100%; }

#gheader
{
	padding:10px 0px 0 0px;
	background: #F2F3F4; /* old browsers */
	background: -moz-linear-gradient(top, #F2F3F4 0%, #E8EDF2 37%, #C9D3DD 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F3F4), color-stop(37%,#E8EDF2), color-stop(100%,#C9D3DD)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F3F4', endColorstr='#C9D3DD',GradientType=0 ); /* ie */
	height:60px;
}

#gheader #logo { width:50px; height:47px; background:url(/images/logo.png) no-repeat; margin-left:20px; float:left; }

#gheader p { margin:0px 0 20px 80px; -webkit-font-smoothing:subpixel-antialiased; color:#94a4b1; }

#gheader ul { margin:0 0 0 40px; font-size:14px; color:#24689E; }
#gheader ul li
{
	display:inline;
	margin-right:30px;
	-webkit-font-smoothing:subpixel-antialiased;
}

#gheader-shadow
{
	height:15px;
	background: #cedce7; /* old browsers */
	background: -moz-linear-gradient(top, #596a72 0%, #eef2f3 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a6a9), color-stop(100%,#eef2f3)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#eef2f3',GradientType=0 ); /* ie */
	margin-bottom:20px;
}

#container { width:980px; margin:auto; }

#content
{
	background-color:#FFFFFF;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	padding:20px 15px 20px 20px;
	margin:10px 0px 20px 0px;
}

h2 { font-weight:normal; margin-bottom:20px; color:#24689E; }

table.fullwidth { width:100%; }
table.list { border-spacing:0px; }
table.list thead th { border-bottom:2px solid #999; text-align:left; height:30px; }
table.list tbody td { padding:8px 5px 8px 0px; }

#search-container, #search-container-shadow
{
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	width:570px;
	margin:auto;
}

#search-container
{
	background:#363e45;
	padding:15px 15px 10px 15px;
	height:100px;
	margin-top:100px;
}
#search-container h2 { text-align:center; width:300px; margin:auto auto 10px auto; color:#FFFFFF; font-size:16px; }
#search-container .subtext { text-align:center; }
.subtext { font-size:12px; color:#7E8082; }

#search-container-shadow
{
	height:30px;
	margin:1px auto;
	width:600px;
	background: #949ba0; /* old browsers */
	background: -moz-linear-gradient(top, #949ba0 0%, #bdcdde 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#949ba0), color-stop(100%,#dee6e9)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949ba0', endColorstr='#bdcdde',GradientType=0 ); /* ie */
}

.convertBtn
{
   margin-top:1px;
   width:127px;
   height:41px;
	float:left;
}

.textInput
{
   background-image:url(http://www.unixstamp.com/img/input.png);
   width:421px;
   height:21px;
   text-align:left;
   padding:10px;
	float:left;
	margin-bottom:10px;
}
.textInput input
{
	background:none;
	color:#313537;
	border:none;
	padding:0px;
	margin:0px;
	outline:none;
	font-size:17px;
	letter-spacing:-1px;
	width:100%;
}

#login-form-home { width:600px; margin:50px auto; }
#login-form-home input[type=text]
{
	height:20px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border:1px #CCC solid;
	font-size:14px;
	padding:8px 10px 8px 10px;
	width:200px;
}
#login-form-home .signin { background:url(/images/buttons/signin.png) no-repeat; margin-top:-2px; height:40px; width:126px; border:0px; text-indent:-9999px; }
#login-form-home .signin:hover { background:url(/images/buttons/signin_over.png) no-repeat; }
#login-form-home #login-field { width:235px; float:left; }
#login-form-home #password-field { width:235px; float:left; }
#login-form-home h3 { border-bottom:1px #ccc solid; padding-bottom:5px; }