%h2 Foreman Bot Usage
%p Foreman is the IRC bot in the IRC channel #rubunity. Available commands for the Foreman bot are as follows:
%br/
%table.list.fullwidth
  %thead
    %tr
      %th Command
      %th Description
  %tbody
    %tr
      %td !botsnack
      %td Feed foreman
    %tr
      %td !g [query]
      %td Search Google
    %tr
      %td !gg [query]
      %td Create a let me Google that for you link
    %tr
      %td !github [query]
      %td Search Github
    %tr
      %td !google [query]
      %td Reload user access files
