<h2>Foreman Bot Usage</h2>

<p>Foreman is the IRC bot in the IRC channel #rubunity. Available commands for the Foreman bot are as follows:</p>
<br />

<table class="list fullwidth">
  <thead>
    <tr><th>Command</th><th>Description</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>!botsnack</td>
      <td>Feed foreman</td>
    </tr>
    <tr>
      <td>!g [query]</td>
      <td>Search Google</td>
    </tr>
    <tr>
      <td>!gg [query]</td>
      <td>Create a let me Google that for you link</td>
    </tr>
    <tr>
      <td>!github [query]</td>
      <td>Search Github</td>
    </tr>
    <tr>
      <td>!google [query]</td>
      <td>Reload user access files</td>
    </tr>
  </tbody>
</table>