#globalfooter.gf-980
  %p.gf-links
    %a{:href => "/"} Home
    | #{link_to 'Bookmarks', bookmarks_url}
  %p.gf-sosumi
    per general consensus, pants are required #{link_to 'Terms of Use', "#"} | #{link_to 'Privacy Policy', "#"}
