!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Rubunity
    %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "keywords"}
        = stylesheet_link_tag 'simple.css'
  %body
    #gheader
      #logo
      %p.subtext Rubunity - Per general consensus, pants are required
      = render :partial => 'layouts/gnav'
    #gheader-shadow
    #container
      #content
        = yield
