!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Unix timestamp date converter
    %meta{:content => "A powerful unix timestamp converter to convert unix stamps to dates and vice versa", :name => "description"}
      %meta{:content => "unix, timestamp, time, stamp, epoch, calculator, conversion", :name => "keywords"}
        %meta{:content => "P0Wn-9hVkTZmDIY8z16i1VBA-_xnreIdRONjfP-yhjs", :name => "google-site-verification"}/
        %link{:href => "/img/icon.png", :rel => "shortcut icon"}
          = stylesheet_link_tag 'simple.css'
  %body
    #gheader
      #logo
      %p.subtext Rubunity - Per general consensus, pants are required
      %ul
        %li About
        %li Community
        %li Fame
        %li Shame
    #gheader-shadow
    #container
      #search-container
        %h2 Search for Ruby or Rails information
        %form{:action => "http://www.unixstamp.com/index.php", :method => "get", :onSubmit => "location.href = 'http://www.unixstamp.com/' + prepare(document.getElementById('convert-field').value); return (false);"}
          .textInput
            %input#convert-field.convertInput{:name => "z", :placeholder => "Enter a search term...", :type => "text", :value => ""}/
          .convertBtn
            %input{:src => "/images/buttons/search.png", :type => "image", :value => ""}/
        .subtext You can use almost any format for the date.
      #search-container-shadow
