!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Rubunity
    = stylesheet_link_tag 'redesign.css'
    #header
      .header_holder
        .logo
        .nav
          = render :partial => 'layouts/gnav'
        .divider

    #content
      .content_holder
        = yield

    #footer_top
      .holder
        .left
          #widget_recent_entries
            %h3 Recent Posts
            %ul
              %li
                %a{:href => "http://test.nattywp.com/business/2008/12/23/another-review/", :title => "Claritas Etiam Processus Dinamicus"} Claritas Etiam Processus Dinamicus
        .right
          #twitterWidget
            #twitter
              %h3 Twitter Updates
              %ul#twitter_update_list
                %li
              %script{:src => "http://twitter.com/javascripts/blogger.js", :type => "text/javascript"}
              %script{:src => "http://twitter.com/statuses/user_timeline/remear.json?callback=twitterCallback2&count=3", :type => "text/javascript"}
              .dasheddivider
              %p{:align => "right"}
                %a.rightlink.png_crop{:href => "http://www.twitter.com/remear/"} Follow us on Twitter
        .divider
    #footer_bottom
      .holder
        .copy
          Copyright ©
          = succeed "." do
            %a{:href => "http://test.nattywp.com/business"} business Demo
          All Rights Reserved.
        .links
          %ul
            %li.current_page_item
              %a{:href => "http://test.nattywp.com/business"}
                %span Home
            %li
              %a{:href => "http://test.nattywp.com/business/category/blog/"}
                %span Blog
            %li.page_item.page-item-2
              %a{:href => "http://test.nattywp.com/business/about/", :title => "About"} About
            %li.page_item.page-item-101
              %a{:href => "http://test.nattywp.com/business/archives/", :title => "Archives"} Archives
            %li.page_item.page-item-211
              %a{:href => "http://test.nattywp.com/business/full-width/", :title => "Full width"} Full width
            %li.page_item.page-item-169
              %a{:href => "http://test.nattywp.com/business/sitemap/", :title => "Sitemap"} Sitemap
            %li.page_item.page-item-226
              %a{:href => "http://test.nattywp.com/business/preset-styles/", :title => "Preset Styles"} Preset Styles
        %div{:style => "clear:both;"}